* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: sans-serif;
}
body {
    background: #1abc9c;
    overflow: hidden;
}
.container {
    max-width: 440px;
    padding: 0 20px;
    margin: 170px auto;
}
.wrapper {
    width: 380px;
    background: #fff;
    border-radius: 5px;
}
.wrapper .title {
    font-family: sans-serif;
    line-height: 90px;
    background: #16a085;
    font-size: 25px;
    font-weight: 600;
    padding-left: 20px;
    border-radius: 5px 5px 0 0;
    color: #fff;
    text-align: center;
}
.wrapper form {
    padding: 30px 20px 25px 25px;
}
.wrapper form .row {
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}
.wrapper form .row input {
    height: 100%;
    width: 100%;
    font-size: 16px;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgreen;
}
.wrapper form .row i {
    position: absolute;
    width: 47px;
    height: 100%;
    font-size: 18px;
    background: #16a085;
    border: 1px solid #16a085;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.wrapper form .pass {
    margin: -8px 0 20px 0;
}
.wrapper form .pass a {
    font-family: sans-serif;
    color: #16a085;
    font-size: 15px;
    text-decoration: none;
}
.wrapper form .pass a:hover {
    text-decoration: underline;
}
.wrapper form .button input {
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    padding-left: 0px;
    background: #16a085;
    border: 1px solid #16a085;
}
form .row input:focus {
    border-color: #16a085;
    box-shadow: inset 0px 0px 2px 2px rgba(26, 188, 156, 0.25);
}
.wrapper form .button input:hover {
    background: #12876f;
}
.wrapper form .signup-link {
    text-align: center;
    margin-top: 10px;
    font-size: 17px;
    font-family: sans-serif;
}
.wrapper form .signup-link a {
    font-family: sans-serif;
    color: #16a085;
    font-size: 15px;
    text-decoration: none;
}
.wrapper form .signup-link a:hover {
    text-decoration: underline;
}